.tdesignnotificationFilledIcon1 {
    position: absolute;
    top: 21px;
    left: 1304px;
    width: 40px;
    height: 37px;
    overflow: hidden;
    object-fit: cover;
}
.gravityUimagnifierIcon1 {
    position: absolute;
    top: 21px;
    left: 1250px;
    width: 36px;
    height: 39px;
    overflow: hidden;
    object-fit: cover;
}
.iconoirprofileCircle1 {
    position: absolute;
    top: 21px;
    left: 1355px;
    width: 41px;
    height: 38px;
    overflow: hidden;
    object-fit: cover;
}
.groupChild {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background-color: #d9d9d9;
    width: 97px;
    height: 87px;
}
.claritypictureLineIcon {
    position: absolute;
    top: 9px;
    left: 11px;
    width: 72px;
    height: 72px;
    overflow: hidden;
    object-fit: cover;
}
.sallyRobins {
    position: absolute;
    top: 8px;
    left: 75px;
    display: inline-block;
    width: 300px;
    height: 34px;
}
.readingPrideAnd1 {
    position: absolute;
    top: 58px;
    left: 174px;
    font-size: 24px;
}
.vectorIcon1 {
    position: absolute;
    height: 33.33%;
    width: 4.56%;
    top: 66.67%;
    right: 70.44%;
    bottom: 0%;
    left: 25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.ellipseParent {
    position: absolute;
    top: 75px;
    left: 242px;
    width: 504px;
    height: 87px;
    font-size: 36px;
}
.groupItem {
    position: absolute;
    top: -1px;
    left: -1px;
    border-radius: 15px;
    background-color: #fdfcfc;
    border: 1px solid rgba(0, 0, 0, 0.46);
    box-sizing: border-box;
    width: 205px;
    height: 43px;
}
.findFriends {
    position: absolute;
    top: 8.84px;
    left: 17.94px;
    font-weight: 600;
    display: inline-block;
    width: 167.11px;
    height: 23.31px;
}
.rectangleParent {
    position: absolute;
    top: 750px;
    left: 982px;
    width: 203px;
    height: 41px;
    mix-blend-mode: normal;
    font-size: 24px;
    color: #1a1a1a;
}
.groupInner {
    position: absolute;
    top: -1px;
    left: -1px;
    border-radius: 15px;
    background-color: #ed5050;
    border: 1px solid rgba(0, 0, 0, 0.46);
    box-sizing: border-box;
    width: 208px;
    height: 43px;
}
.inviteFriends {
    position: absolute;
    top: 8.84px;
    left: 18.21px;
    font-weight: 600;
    display: inline-block;
    width: 169.58px;
    height: 23.31px;
}
.rectangleGroup {
    position: absolute;
    top: 750px;
    left: 1208px;
    width: 206px;
    height: 41px;
    mix-blend-mode: normal;
    font-size: 24px;
    color: #fff;
}
.rectangleDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 18px;
    background-color: #faeeee;
    width: 197.79px;
    height: 181.46px;
    mix-blend-mode: normal;
}
.groupChild1 {
    position: absolute;
    top: 17.85px;
    left: 10.82px;
    border-radius: 18px;
    background-color: #edcbcb;
    width: 173.07px;
    height: 80.32px;
    mix-blend-mode: normal;
}
.phcheckBoldIcon {
    position: absolute;
    top: 17.85px;
    left: 70.31px;
    width: 64.9px;
    height: 71.39px;
    overflow: hidden;
    object-fit: cover;
}
.div {
    position: absolute;
    top: 146.75px;
    left: 87.31px;
    font-weight: 500;
    display: inline-block;
    width: 10.04px;
    height: 23.8px;
}
.booksIveFinished1 {
    position: absolute;
    top: 111.46px;
    left: 19.28px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    width: 147px;
    height: 23px;
}
.rectangleContainer {
    position: absolute;
    top: 53.54px;
    left: 24.72px;
    width: 197.79px;
    height: 181.46px;
}
.div1 {
    position: absolute;
    top: 146.46px;
    left: 79.79px;
    font-weight: 500;
    display: inline-block;
    width: 34.66px;
    height: 24px;
}
.hoursIveSpent1 {
    position: absolute;
    top: 111.46px;
    left: 6.03px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    width: 186px;
    height: 23px;
}
.vectorIcon2 {
    position: absolute;
    height: 31.69%;
    width: 20.7%;
    top: 16.39%;
    right: 40.62%;
    bottom: 51.91%;
    left: 38.67%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.groupDiv {
    position: absolute;
    top: 53.54px;
    left: 237.97px;
    width: 197.79px;
    height: 181.46px;
}
.div2 {
    position: absolute;
    top: 146.75px;
    left: 87.31px;
    font-weight: 500;
    display: inline-block;
    width: 9.27px;
    height: 23.8px;
}
.skillsIveGained1 {
    position: absolute;
    top: 111.46px;
    left: 17.79px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    width: 166px;
    height: 23px;
}
.vectorIcon3 {
    position: absolute;
    height: 33.33%;
    width: 23.44%;
    top: 15.85%;
    right: 38.28%;
    bottom: 50.82%;
    left: 38.28%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.rectangleParent1 {
    position: absolute;
    top: 53.54px;
    left: 451.21px;
    width: 197.79px;
    height: 181.46px;
}
.totalStatistics {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 24px;
    font-weight: 500;
    display: inline-block;
    width: 176.16px;
    height: 35.36px;
}
.groupParent {
    position: absolute;
    top: 383px;
    left: 190px;
    width: 649px;
    height: 235px;
}
.groupIcon {
    position: absolute;
    top: 54px;
    left: 25.33px;
    width: 500.67px;
    height: 227px;
    object-fit: cover;
}
.friendSuggestions {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 24px;
    font-weight: 500;
    display: inline-block;
    width: 247.41px;
    height: 35px;
}
.groupChild6 {
    position: absolute;
    top: 66px;
    left: 35.07px;
    width: 64.86px;
    height: 58px;
    object-fit: cover;
}
.groupChild7 {
    position: absolute;
    top: -1px;
    left: -1px;
    border-radius: 15px;
    background-color: #fdfcfc;
    border: 1px solid rgba(0, 0, 0, 0.46);
    box-sizing: border-box;
    width: 111.1px;
    height: 42px;
}
.viewAll {
    position: absolute;
    top: 8.63px;
    left: 9.64px;
    font-weight: 600;
    display: inline-block;
    width: 89.81px;
    height: 22.75px;
}
.rectangleParent2 {
    position: absolute;
    top: 232px;
    left: 37.01px;
    width: 109.1px;
    height: 40px;
    mix-blend-mode: normal;
    color: #1a1a1a;
}
.groupChild8 {
    position: absolute;
    top: -1px;
    left: -1px;
    border-radius: 10px;
    background-color: #ed5050;
    border: 1px solid rgba(0, 0, 0, 0.46);
    box-sizing: border-box;
    width: 39.59px;
    height: 37px;
}
.icroundPlusIcon1 {
    position: absolute;
    top: 5.83px;
    left: 9.6px;
    width: 19.2px;
    height: 23.33px;
    overflow: hidden;
    object-fit: cover;
    mix-blend-mode: normal;
}
.rectangleParent3 {
    position: absolute;
    top: 85px;
    left: 441.26px;
    width: 37.59px;
    height: 35px;
    mix-blend-mode: normal;
}
.icroundMinusIcon2 {
    position: absolute;
    top: 168px;
    left: 486.06px;
    width: 28.25px;
    height: 24px;
    overflow: hidden;
    object-fit: cover;
}
.alexanderThompson {
    position: absolute;
    top: 164px;
    left: 116px;
    font-weight: 600;
    display: inline-block;
    width: 234px;
}
.icroundMinusIcon3 {
    position: absolute;
    top: 91px;
    left: 486.06px;
    width: 28.25px;
    height: 24px;
    overflow: hidden;
    object-fit: cover;
}
.lauraEvans {
    position: absolute;
    top: 85px;
    left: 111px;
    font-weight: 600;
    display: inline-block;
    width: 156px;
}
.groupParent1 {
    position: absolute;
    top: 125px;
    left: 882px;
    width: 526px;
    height: 281px;
}
.groupChild9 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 18px;
    background-color: #faeeee;
    width: 491.17px;
    height: 227px;
    mix-blend-mode: normal;
}
.groupChild10 {
    position: absolute;
    top: -1px;
    left: -1px;
    border-radius: 15px;
    background-color: #fdfcfc;
    border: 1px solid rgba(0, 0, 0, 0.46);
    box-sizing: border-box;
    width: 109.03px;
    height: 42px;
}
.profile1 {
    position: absolute;
    top: 8.63px;
    left: 9.46px;
    font-weight: 600;
    display: inline-block;
    width: 88.1px;
    height: 22.75px;
}
.rectangleParent5 {
    position: absolute;
    top: 106px;
    left: 356.44px;
    width: 107.03px;
    height: 40px;
    mix-blend-mode: normal;
}
.groupChild11 {
    position: absolute;
    top: 93px;
    left: 9.56px;
    width: 63.63px;
    height: 58px;
    object-fit: cover;
}
.lineIcon {
    position: absolute;
    top: 162px;
    left: 19.11px;
    width: 460.6px;
    height: 0.65px;
    object-fit: contain;
}
.groupChild12 {
    position: absolute;
    top: 82px;
    left: 19.11px;
    width: 460.6px;
    height: 0.65px;
    object-fit: contain;
}
.rectangleParent6 {
    position: absolute;
    top: 23px;
    left: 356.44px;
    width: 107.03px;
    height: 40px;
    mix-blend-mode: normal;
}
.rectangleParent4 {
    position: absolute;
    top: 55px;
    left: 89.83px;
    width: 491.17px;
    height: 227px;
    color: #1a1a1a;
}
.friends {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 24px;
    font-weight: 500;
    display: inline-block;
    width: 242.72px;
    height: 35px;
}
.groupChild14 {
    position: absolute;
    top: 67px;
    left: 99.38px;
    width: 63.63px;
    height: 58px;
    object-fit: cover;
}
.rectangleParent7 {
    position: absolute;
    top: 233px;
    left: 101.29px;
    width: 107.03px;
    height: 40px;
    mix-blend-mode: normal;
    color: #1a1a1a;
}
.annaClarke {
    position: absolute;
    top: 169px;
    left: 173px;
    font-weight: 600;
    display: inline-block;
    width: 154px;
}
.williamWalker {
    position: absolute;
    top: 86px;
    left: 175px;
    font-weight: 600;
    display: inline-block;
    width: 166px;
}
.groupParent2 {
    position: absolute;
    top: 430px;
    left: 825px;
    width: 581px;
    height: 282px;
}
.groupChild16 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 18px;
    background-color: #faeeee;
    width: 736px;
    height: 110px;
    mix-blend-mode: normal;
}
.groupChild17 {
    position: absolute;
    top: 20px;
    left: 12.46px;
    border-radius: 18px;
    background-color: #edcbcb;
    width: 91.67px;
    height: 77.78px;
    mix-blend-mode: normal;
}
.committedReader {
    position: absolute;
    top: 20px;
    left: 120px;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    width: 206.47px;
    height: 26.67px;
}
.vectorIcon4 {
    position: absolute;
    height: 58.59%;
    width: 6.41%;
    top: 24.24%;
    right: 89%;
    bottom: 17.17%;
    left: 4.59%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.groupChild18 {
    position: absolute;
    top: 65.99px;
    left: 132.6px;
    width: 518.88px;
    height: 0.68px;
    object-fit: contain;
}
.div3 {
    position: absolute;
    top: 19px;
    left: 681px;
    font-weight: 300;
    display: inline-block;
    width: 35px;
}
.maintainA31 {
    position: absolute;
    top: 73px;
    left: 134px;
    font-weight: 300;
    display: inline-block;
    width: 261px;
}
.rectangleParent8 {
    position: absolute;
    top: 54px;
    left: 32px;
    width: 736px;
    height: 110px;
}
.groupChild19 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 18px;
    background-color: #faeeee;
    width: 733px;
    height: 112px;
    mix-blend-mode: normal;
}
.div4 {
    position: absolute;
    top: 22px;
    left: 625px;
    font-weight: 300;
    display: inline-block;
    width: 98px;
}
.groupChild20 {
    position: absolute;
    top: 18px;
    left: 12.32px;
    border-radius: 18px;
    background-color: #edcbcb;
    width: 88px;
    height: 83px;
    mix-blend-mode: normal;
}
.pointCollector {
    position: absolute;
    top: 18px;
    left: 119px;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    width: 178px;
}
.vectorIcon5 {
    position: absolute;
    height: 54.46%;
    width: 7.2%;
    top: 25.89%;
    right: 88.96%;
    bottom: 19.64%;
    left: 3.84%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.groupChild21 {
    position: absolute;
    top: 65.99px;
    left: 132.54px;
    width: 518.62px;
    height: 0.68px;
    object-fit: contain;
}
.earn1800More1 {
    position: absolute;
    top: 80px;
    left: 136px;
    font-weight: 300;
    display: inline-block;
    width: 198px;
}
.rectangleParent9 {
    position: absolute;
    top: 191px;
    left: 35px;
    width: 733px;
    height: 112px;
}
.achievements {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 24px;
    font-weight: 500;
    display: inline-block;
    width: 228px;
    height: 35.66px;
}
.groupParent3 {
    position: absolute;
    top: 688px;
    left: 190px;
    width: 768px;
    height: 303px;
    font-size: 16px;
}
.groupChild22 {
    position: absolute;
    top: -7px;
    left: -7px;
    border-radius: 12px;
    border: 7px solid #edcbcb;
    box-sizing: border-box;
    width: 438px;
    height: 128px;
    mix-blend-mode: normal;
}
.div5 {
    position: absolute;
    top: 0px;
    left: 27px;
    display: inline-block;
    width: 40px;
    height: 40.05px;
}
.booksIm {
    margin: 0;
}
.booksImFollowingContainer {
    position: absolute;
    top: 48.49px;
    left: 0px;
    font-size: 20px;
    display: inline-block;
    width: 97px;
    height: 49.3px;
}
.parent {
    position: absolute;
    top: 8px;
    left: 301px;
    width: 97px;
    height: 97.78px;
}
.div6 {
    position: absolute;
    top: 0px;
    left: 38px;
    display: inline-block;
    width: 20px;
    height: 40.05px;
}
.followers {
    position: absolute;
    top: 53px;
    left: 0px;
    font-size: 20px;
    display: inline-block;
    width: 90px;
    height: 24.65px;
}
.container {
    position: absolute;
    top: 8px;
    left: 174px;
    width: 90px;
    height: 77.65px;
}
.div7 {
    position: absolute;
    top: 0px;
    left: 48px;
    display: inline-block;
    width: 20px;
    height: 40.05px;
}
.booksInMyContainer {
    position: absolute;
    top: 52.59px;
    left: 0px;
    font-size: 20px;
    display: inline-block;
    width: 115px;
    height: 49.3px;
}
.parent1 {
    position: absolute;
    top: 8px;
    left: 23px;
    width: 115px;
    height: 101.89px;
}
.rectangleParent10 {
    position: absolute;
    top: 201px;
    left: 369px;
    width: 424px;
    height: 114px;
    font-size: 32px;
}
.profileChild {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 167px;
    height: 1024px;
    object-fit: cover;
}
.profile {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    color: #000;
    font-family: Inter;
}

