.signup {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.signup .overlap-wrapper {
  background-color: #ffffff;
  height: 1024px;
  width: 1440px;
}

.signup .overlap {
  height: 1024px;
  position: relative;
}

.signup .material-symbols {
  height: 24px;
  left: 708px;
  position: absolute;
  top: 500px;
  width: 24px;
}

.signup .dashicons-buddicons {
  height: 20px;
  left: 710px;
  position: absolute;
  top: 502px;
  width: 20px;
}

.signup .rectangle {
  height: 1024px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1440px;
}

.signup .div {
  background-color: #d9d9d9f0;
  border-radius: 48px;
  height: 968px;
  left: 339px;
  position: absolute;
  top: 14px;
  width: 779px;
}

.signup .confirm-password {
  height: 68px;
  left: 441px;
  position: absolute;
  top: 772px;
  width: 588px;
}

.signup .overlap-group {
  background-color: #f1f1f1cf;
  border-radius: 68px;
  height: 68px;
  position: relative;
  width: 586px;
}

.signup .text-wrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 279px;
}

.signup .teenyicons-password {
  height: 45px;
  left: 524px;
  position: absolute;
  top: 11px;
  width: 48px;
}

.signup .sign-up-button {
  height: 51px;
  left: 772px;
  position: absolute;
  top: 863px;
  width: 183px;
}

.signup .div-wrapper {
  background-color: #ec4f4f;
  border-radius: 68px;
  height: 51px;
  position: relative;
  width: 181px;
}

.signup .text-wrapper-2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 149px;
}

.signup .login-button {
  all: unset;
  box-sizing: border-box;
  height: 51px;
  left: 482px;
  position: absolute;
  top: 863px;
  width: 183px;
}

.signup .overlap-2 {
  background-color: #fbfbfb;
  border-radius: 68px;
  height: 51px;
  position: relative;
  width: 181px;
}

.signup .text-wrapper-3 {
  color: #2e2d2d;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 149px;
}

.signup .password {
  height: 68px;
  left: 441px;
  position: absolute;
  top: 669px;
  width: 588px;
}

.signup .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 279px;
}

.signup .username {
  height: 68px;
  left: 441px;
  position: absolute;
  top: 463px;
  width: 588px;
}

.signup .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 279px;
}

.signup .vector {
  height: 41px;
  left: 524px;
  position: absolute;
  top: 14px;
  width: 36px;
}

.signup .email {
  height: 68px;
  left: 441px;
  position: absolute;
  top: 566px;
  width: 588px;
}

.signup .e {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 279px;
}

.signup .img {
  height: 30px;
  left: 512px;
  position: absolute;
  top: 19px;
  width: 47px;
}

.signup .welcome {
  height: 270px;
  left: 407px;
  position: absolute;
  top: 114px;
  width: 595px;
}

.signup .overlap-3 {
  height: 270px;
  position: relative;
  width: 593px;
}

.signup .rectangle-2 {
  height: 251px;
  left: 45px;
  mix-blend-mode: darken;
  object-fit: cover;
  position: absolute;
  top: 19px;
  width: 548px;
}

.signup .text-wrapper-6 {
  color: #00000099;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 446px;
}
